/* CSS Reset */
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Additional Styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 250, 250);
}

html,
body {
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 100%;
  margin-bottom: 1rem;
}

.store-container {
  display: flex;
  width: 100%;
}

.left-page {
  width: 15rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.right-page {
  width: 100%;
}

.left-page-box {
  border: 2px solid rgb(66, 66, 66);
  border-radius: 6px;
  margin-bottom: 1.5rem;
  background-color: white;
  padding-left: 4px;
}

.sort-group {
  margin-bottom: 1rem;
}

.left-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.img {
  height: auto;
  max-height: 2700px;
  width: auto;
  max-width: 290px;
}

h2 {
  font-size: 22px;
}
